.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.carousel-container img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.link-card {
    text-decoration: none;
    color: inherit;
}

.signup-card {
    width: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 28px 20px;
    background: var(--color-bg-section-card);
    border: 2px solid var(--color-border);
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    transition: 0.2s;
    cursor: pointer;
    color: var(--color-secondary-text);
    font-size: 15px; 
}


.signup-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 30px 0;
    flex-wrap: wrap; 
}

.signup-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 6px; 
}

.signup-card h2 {
    margin: 0;
    font-size: 24px; 
    font-weight: 700;
}

.signup-card p {
    margin: 4px 0 0 0; 
    font-size: 16px;
}


.btn-signup {
    padding: 12px 20px; 
    font-size: 16px; 
    border-radius: 8px;
    margin-top: 20px;
    width: 180px;
    background-color: var(--color-accent);
}

.btn-signup:hover {
    background-color: var(--color-accent-hover);
}


.btn-primary {
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    background: var(--color-primary);
    color: var(--color-primary-text);
    cursor: pointer;
    font-size: 14px;
    transition: 0.15s;
}

.btn-primary:hover {
    background: var(--color-primary-hover);
}

/* Skills grid */
.skills-section {
    text-align: center;
    margin-top: 30px;
}

.skills-grid {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
}

.skill-box {
    width: 150px;
    height: 120px;
    border: 2px solid var(--color-border);
    background: var(--color-bg-section-card);
    border-radius: 14px;
    text-decoration: none;
    color: var(--color-secondary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: 0.2s, font-size 0.2s, font-weight 0.2s;
    font-size: 16px; 
    font-weight: 500; 
}

.skill-box:hover {
    border-color: var(--color-border-hover);
    transform: translateY(-3px);
    font-weight: 800; /* make text bold on hover */
}

.skill-box-icon {
    margin-bottom: 6px; /* closer to text */
    color: var(--color-primary);
    height: 35px;
    width: 35px;
}




/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--color-border);
    background: var(--color-bg);
    color: var(--color-secondary-text);
}

