:root {
    --color-primary: #1E93AB;         
    --color-primary-text: #F7F7F7;   
    --color-primary-hover: rgb(23, 75, 86);   

  
    --color-secondary: #E3E9F0;       
    --color-secondary-text: #1F3B4D;  
    --color-secondary-hover: #CBD6E3; 


    --color-accent: #E62727;         
    --color-accent-text: #F7F7F7;     
    --color-accent-hover: rgb(138, 39, 39);    

    /* Backgrounds */
    --color-bg: #F7F7F7;              
    --color-bg-section-card: #F3F2EC; 
    --color-bg-question-card: #DCDCDC; 
    --color-bg-question-item-card: #e0f3f7;

    /* Borders */
    --color-border: #CBD6E3;          
    --color-border-hover: #1E93AB;   

    /* Danger / alerts */
    --color-danger: #FBBF24;         
    --color-danger-hover: #F59E0B;   
}
