
.link-card {
    text-decoration: none;
    color: inherit;
}

.signup-card {
    width: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 28px 20px;
    background: var(--color-bg-section-card);
    border: 2px solid var(--color-border);
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    transition: 0.2s;
    cursor: pointer;
    color: var(--color-secondary-text);
    font-size: 15px; 
}


.signup-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 30px 0;
    flex-wrap: wrap; 
}

.signup-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 6px; 
}

.signup-card h2 {
    margin: 0;
    font-size: 24px; 
    font-weight: 700;
}

.signup-card p {
    margin: 4px 0 0 0; 
    font-size: 16px;
}


.btn-signup {
    padding: 12px 20px; 
    font-size: 16px; 
    border-radius: 8px;
    margin-top: 20px;
    width: 180px;
}